{{- if (eq (.Site.Params.disableComments | default false) false) -}}
  {{- if (eq (.Params.disableComments | default false) false) -}}
    <script src="https://giscus.app/client.js"
        data-repo="journeyman33/k8s-resume-blog"
        data-repo-id="R_kgDOLmnhzg"
        data-category="Announcements"
        data-category-id="DIC_kwDOLmnhzs4Ceicj"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="en"
        crossorigin="anonymous"
        async>
     </script>
  {{- end -}}
{{- end -}}